body {
    font-family: "Quicksand", sans-serif;
    display: flex;
    justify-content: center;
    padding: 0;
    color: #4d4d4d;
  }

  td,
  th {
    border: 1px solid #ddd;
    padding: 12px;
  }

  th {
    padding: 10px;
    text-align: center;
    background-color: #4caf50;
    color: white;
  }