.topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav button{
      width: 10em;
      height: 3em;
      float: right;
      margin-right:5px;
      padding: 1px 1px 1px 1px;
  }